.me{
    width: 30px;
    border-radius: 30px;
    
}
.desk{
    margin:50px;
    border:1px solid white;
    width:50%;
    box-shadow: inset 40em 1em white ;
}

    

body{
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    font-weight:525;
    font-style: calc();
    line-height: 1.9;
    background-color:lightcyan;

}


#same1{
    margin-left:0px;
    margin-right: 115px;
    padding-right: 0%;
    


}

#nameid{
    margin-left: 10px;
    margin-right: 114px;
    width:330px;
    height: fit-content;
}
#profile_section{
    display:flex;
    align-items: center;
}
.same2{
    margin-left:55px;
    margin-right: 36px;
    padding-right:15px;
}
#same2{
    
    margin-left:0px;
    margin-right:90px;
    
}
#Gender_section{
    display: flex;
    align-items: center;
}
.same3{
    margin-left:55px;
    margin-right: 36px;
    padding-right:69px;

}
#same3{
    margin-left:10px;
    margin-right:50px;
    
}
#department_section{
    display: flex;
    align-items: center;
}
.same4{
    margin-left:0px;
    margin-right: 0px;
    padding-right: 70px;
    
}
#same4{
margin-left: 0px;
}
.salary_section{
    display: flex;
    align-items: center;
}
.same5{ 
     margin-left:55px;
    margin-right: 100px;
    padding-right:28px;

}
#salary1{
    width:300px;
    height: 35px;
    margin-left:0px;
    margin-right:60px;
}

#start_date{
    display: flex;
    
}
.same6{
    margin-left:55px;
    margin-right: 58px;
    padding-right:35px;
}
#same6{
    width:250px;
    height: 35px;
    margin-left:0px;
    margin-right:60px;

}
#notes_section{
    
    display: flex;

}
.same7{
    margin-left:55px;
    margin-right: 95px;
    padding-right:40px;
}
#notes{  width:450px;
    height: 50px;
    margin-left:0px;
    margin-right:100px;
}
.flex{
    flex-direction: row;

}
.button{
    padding-right: 20cap;
}


.cancel1{
    border-radius:5%;
    margin-right: 50px;
    margin-left: 0px;
}
#cancel{
    border-radius:5%;
    margin-left: 0px;
}
.cancel2{
    border-radius:5%;
    margin-right: 50px;
}


.fullindex{
    background-color:white;
    font-size: small;
    color:red;
    line-height: 25px;
    height: 9vh;
    width: 100%;
    justify-content: start;
    padding-top: 0px;
    margin-top: 0px;

}
.image_class{
    padding-left: 3%;
    height: 1%;
    margin-left: 0px;
    justify-content: start;
    



}
.p5{
   color: #82A70C;
   padding-left:100px;
    
}


.p6{
    color:#42515F;
    padding-left: 100px;
}

.epf{
    padding-right:325px;
    font-size: 30px;
}
